body {
  background-color: #232030;  // Change to your preferred color
  color: #b3b294;  // This controls the default text color
}


h1, h2, h3, h4, h5, h6 {
  color: #94a8b3;  // Change heading colors
}
